
DEBUG=
SECRET_KEY=

POSTGRES_ENGINE=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

DJANGO_ALLOWED_HOSTS=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

EMAIL_BACKEND =
#add your host of the email here in this case its Gmail so we are going to use Gmail host
EMAIL_HOST = 
EMAIL_USE_TLS = 
#add the port number of the email server
EMAIL_PORT = 
#add your gamil here
EMAIL_HOST_USER = 
#add your password here
EMAIL_HOST_PASSWORD = 
